*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    padding: 20px;
    background-color: rgb(64, 5, 108);
}



.navbar a{
    color: #fff;
    font-weight: bold;
}

.navbar  ul{
    list-style: none;
    
}

.navbar  ul li{
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar  ul li a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    
    width: 100%;
    border-left: 3px solid transparent;
}

.nav-item{
  background: rgb(40, 8, 64);
  color: #fff;
  padding-right: 5px;
  margin-right: 5px;
}

.nav-item .nav-link{
  font-weight: 700;
  font-size: 25px;
}

.navbar-brand{
  background: rgb(40, 8, 64);
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 5px;
  font-weight: 700;
  font-size: 25px;
}

.d-flex{
    height: 30px;
    width: 60%;
    padding-right: 35px;
    
}
.d-flex input{
    background-color: rgb(64, 5, 108);
    color:#fff;
    border-radius: 15px;
}
.d-flex .btn{
    border-radius: 20px;
}

.dropdown{
    border-radius: 5px;
    border: none;
    
}
.dropdown button{
    color: #fff;
    border: none;
    font-weight: bold;

}

.dropdown button:hover{
    background: #ffa500;
    color: #ffff;
    font-weight: bold;
}
.dropdown-menu{
    background: rgb(46, 7, 76);
}
.dropdown-menu:hover{
    color: #fff;
}

.dropdown-item{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.dropdown-item:hover{
    color: #fff;
    font-weight: bold;

}
.leftsidebar{
    float: left;
    width: 280px;
    background: rgb(46, 7, 76);
    border-radius: 15px;
    
}

.text{
    color: #fff;
    padding-left: 15px;
    line-height: 70px;
    user-select: none;
    color: #ffff;
    font-size: 25px;
    font-weight: bold;
}

.leftsidebar ul{
    list-style: none;
}

.leftsidebar ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.leftsidebar ul li a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding-left: 8px;
    width: 100%;
    border-left: 3px solid transparent;
}

.leftsidebar ul li.active a{
    color: cyan;
    background: rgb(54, 13, 84);
    border-left-color: cyan;
}

.leftsidebar ul ul{
    position: static;
    display: none;
}

.leftsidebar ul .drink-show.show{
    display: block;
}

.leftsidebar ul .food-show.show1{
    display: block;
}

.leftsidebar ul ul li{
    line-height: 42px;
    border-bottom: none;
}

.leftsidebar ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
}

.leftsidebar ul li.active ul li a{
    color: #e6e6e6;
    background: rgb(46, 7, 76);
    border-left-color: transparent;
}

.leftsidebar ul ul li a:hover{
    color: cyan!important;
    background: rgb(46, 7, 76)!important;
}

.leftsidebar ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
.leftsidebar ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}


.rightsidebar{
    float: right;
    background: rgb(46, 7, 76);
    border-radius: 15px;
    color: #fff;
}

.rightsidebar h2{
    
    font-weight: bold;
}

.form-select{
  background: rgb(46, 7, 76);
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #fff;
}

select{
  color: #fff;
}

.rightsidebar .table{
    color: #fff;
    border: none;
    border-bottom: none;
}

.header{
    margin-left: 10px;
    color: #fff;
}
.main{
  float: left;
    width: auto;
    margin-left: 120px;
    margin-top: 15px;
    margin-right: 100px;
    border: none;
}

.drink{
  background: rgb(46,7,77);
  width: 240px;
}
.quantity{
    width: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 2px;
    color: #fff;
    background-color: rgb(123, 95, 17);
    padding-left: 13px;
    margin-left: 15px;
}

.total{
  width: 75px;
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  background: none;
    
}
.nice-number{
  margin-left: 15px;
}

.cart button{
    background-color: rgb(123, 95, 17);
    color: #fff;
    width: 20px;
    word-spacing: 2px;
    border: none;
    outline: none;
    font-size: 20px;
}

.cart button:hover{
    background: rgb(88, 76, 44);
}

.cart{
    border: none;
    padding: 15px;
}

.cart img{
    width: 240px;
    height: 240px;
    
}

.cart h6{
    color: #fff;
    padding-top: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.cart p{
    color: rgba(255, 255, 255, 0.666);

}

.p-1{
  background: rgb(40, 8, 64);
}

.p-1 h6{
  color: #fff;
  font-weight: 700;
}

.master{
    width: 20%;
    height: 55px;
    
    margin-left: 25px;
}

#calculator{
	width: 320px;
	height: 520px;
	margin: 0 auto;
	position: relative;
}
#result{
	height: 120px;
    color: #fff;
    margin-left: 10px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

#history-value{
    color: #fff;
    margin-right: 22px;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #ffff;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
#keyword button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
#keyword button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
#keyword button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
#keyword button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
#keyword button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}


#clear{
    background: red;
    color: #fff;
}

#backspace{
    background: #ffa500;
    color: #fff;
}

.checkout_form {
    position: relative;
    width: 80%;
    margin-left: 50px;
    background: rgba(90, 15, 130, 0.35);
    padding: 25px;
    border-radius: 25px;
  }
  
  .card_number {
    margin-bottom: 25px;
  }
  
  .checkout_form input[type="text"] {
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid #9e9e9e;
    border: 0;
    text-align: center;
  }
  
  .card_number .input {
    width: 100%;
    text-align: left;
  }
  
  
  .card_grp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  
  .expiry_date,
  .cvc {
    width: 48%;
    display: flex;
  }
  
  .expiry_date .expiry_input {
    width: 60px;
    margin-right: 10px;
  }
  
  .cvc {
    justify-content: flex-end;
    align-items: center;
  }
  
  .cvc .cvc_input {
    width: 80px;
    margin-right: 10px;
  }
  
  
  .cvc_img {
    border: 2px solid #fff;
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  
  .cvc_img .img {
    position: absolute;
    width: 100px;
    height: 80px;
    padding: 10px 10px 5px;
    border-radius: 3px;
    top: -30px;
    right: 33px;
    background: #064887;
    display: none;
  }
  
  .cvc_img .img img {
    width: 100%;
    height: 100%;
  }
  
  .cvc_img:hover .img {
    display: block;
  }
  
  .button {
    width: 100%;
    background: #064887;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #064887;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #064887;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #064887;
  }
  
  
  
  @media screen and (max-width: 420px) {
    .card_grp {
      flex-direction: column;
    }
    .expiry_date {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .expiry_date .expiry_input {
      width: 48%;
      margin: 0;
    }
    .cvc {
      width: 100%;
      justify-content: space-between;
    }
    .cvc .cvc_input {
      width: 48%;
    }
    .cvc_img .img {
      right: 26px;
    }
  }
  
  .container{
    width: 100%;
  }
  .card-deck{
    width: 150px;
    margin-bottom: 15px;
  }
  
  /* Credit Card Validator */
  #card-container {
    position: relative;
    width: 100%;
  }
  
  #logo {
    width: 46px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 7px;
  }
  
  .visa {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 0 no-repeat;
  }
  .mastercard {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -30px no-repeat;
  }
  .amex {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -60px no-repeat;
  }
  .diners {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -90px no-repeat;
  }
  .discover {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -120px no-repeat;
  }
  .shopping {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -150px no-repeat;
  }
  .naranja {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -180px no-repeat;
  }
  .qida {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -210px no-repeat;
  }
  .clubdia {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -240px no-repeat;
  }
  .musicred {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -270px no-repeat;
  }
  .nevada {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -300px no-repeat;
  }
  .tuya {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -330px no-repeat;
  }
  .laanonima {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -360px no-repeat;
  }
  .crediguia {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -390px no-repeat;
  }
  .patagonia {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -410px no-repeat;
  }
  .sol {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -440px no-repeat;
  }
  .cabal {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -470px no-repeat;
  }
  .cencosud {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -500px no-repeat;
  }
  .credimas {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -530px no-repeat;
  }
  .carrefour {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -560px no-repeat;
  }
  .grupar {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -590px no-repeat;
  }
  .wishgift {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -610px no-repeat;
  }
  .unknown {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
      0 -640px no-repeat;
  }


.drinks{
    min-height: 100vh;
}

.left{
  display: flex;
}

.left .controls{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: #fff;
    flex-direction: column;
}

.left .controls .buttons{
    margin:1rem 2rem;
    padding:.5rem 0;
    border-bottom:.2rem solid #333;
    cursor: pointer;
    font-size: 1.5rem;
    width: 80px;
}

.left .controls .buttons.button-active,
.left .controls .buttons:hover{
    color:var(--red);
    border-color: var(--red);
    width: 80px;
}

.left .controls .img_list{
  border-radius: 40px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.left .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.left .image-container .image{
  width: 240px;
  height: 240px;
  display: contents;
}

.left .image-container .image img{
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
}

.left .image-container .image a{
    font-size: 2rem;
    color:#333;
    padding:.5rem;
}

.left .image-container .image a:hover{
    color:var(--red);
    text-decoration: underline;
}

.image-container h6, .dr{
  margin-left: 15px;
}

.about{
  min-height: 100vh;
  position: relative;
  display: block;

}

.about .row{
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.about .row .image img{
  padding-top: 100px;
  margin-right: 100px;
  background: none;
  width: 30rem;
  filter: drop-shadow(.5rem .5rem .5rem rgba(0,0,0,.3));
}

.about .row .content{
  padding:1rem;
}

.about .row .content h3{
  font-size: 3.5rem;
  color:#fff;
  padding-left: 15px;
}

.about .row .content p{
  font-size: 2rem;
  color:#666;
padding-left: 15px;  
}

.about .row .content .btn{
  color:var(--red);
  border-color: var(--red);
  outline-color: var(--red);
}

.about .row .content .btn:hover{
  color:#fff;
}


.booking{
  min-height: 100vh;
  padding-bottom: 2rem;
}

.heading{
  text-align: center;
  width: 100%;
  margin:0 auto;
  padding:0 .5rem;
  padding-top: 6rem;
  box-shadow: 0 .2rem .05rem rgba(0,0,0,.3);
}

.heading span{
  display: inline-block;
  font-size: 3.5rem;
  color:var(--red);
  padding:1rem 0;
  box-shadow: 0 .2rem .05rem var(--red);
}


.booking form{
  border-radius: 1rem;
  background:#fff;
  width: 85%;
  margin:2rem auto;
  padding:2rem;
  box-shadow: 0 .5rem 1rem #000;
  text-align: center;
}

.booking form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking form .inputBox input,
.booking form .inputBox select,
.booking form .inputBox textarea{
  padding:0 1rem;
  font-size: 1.7rem;
  color:#333;
  height:4rem;
  width:49%;
  margin:1rem 0;
  border:.1rem solid #333;
}


.booking form .inputBox input:focus,
.booking form .inputBox select:focus,
.booking form .inputBox textarea:focus{
  border:.2rem solid var(--red);
}

.booking form .inputBox textarea{
  height:200px;
  width: 100%;
  padding:1rem;
  resize: none;
}

.booking form .inputBox #map{
  height:20rem;
  margin:1rem 0;
  width: 49%;
}

.booking form .btn{
  background: rgb(64, 5, 108);
  color: #fff;
}

.booking form .btn:hover{
  color:#fff;
}

.footer{
  background:#2c3e50;
}

.footer img{
  width: 100%;
}

.footer .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.footer .box-container .box{
  flex:1 1 23rem;
  margin:2rem;
}

.footer .box-container .box .heading{
  margin:0; padding:0;
  margin-bottom: .5rem;

}

.footer .box-container .box .heading span{
  font-size: 2.5rem;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.7rem;
  color:#eee;
  padding:1rem 0;
}

.footer .box-container .box:first-child p{
  font-size: 1.4rem;
}

.footer .box-container .box p i{
  padding:0 .5rem;
  color:#fff;
}

.footer .box-container .box a{
  font-size: 1.7rem;
  display: block;
  padding:.5rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  text-decoration: underline;
}

.footer .credit{
  font-size: 2rem;
  text-align: center;
  padding:2rem 1rem;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.3);
}

.footer .credit span{
  color:var(--red);
}