body{
    background: rgb(64, 5, 108);

}
.table{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 10px;
    background: rgb(64, 5, 108);
    color: #fff;
}

th{
    color: #fff;
}

td{
    color: #fff;
}

.total{
    color: #000;
    width: 200px;
}