body{
    background: rgb(64, 5, 108);

}
.table{
    margin-top: 10px;
    background: rgb(64, 5, 108);
    color: #fff;
}

th{
    color: #fff;
}

td{
    color: #fff;
}


.totalorders{
    display: flex;
    margin-left: 100px;
}

.totalorders .left{
    float: left;
    background: rgb(64, 5, 108);
    padding: 10px;
}

.totalorders .right{
    float: right;
    margin-left: 200px;
    background: rgb(58, 11, 95);
    padding: 10px;

}
p{
    color: #fff;
}